body{
    background-image: url("images/cardboard.png");
}

.cardstack{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border: 2px dotted #DDDDDD;
    width: 89px;
    height: 120px;
}

.cardstack .ui-draggable-disabled{
    opacity: 100;
}

.card{
    height: 116px;
    width: 83px;
    position: absolute;
}

.card img{
    height: 116px;
    width: 83px;
}